<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">

<% @seo_meta = {
  title: 'TachiFigures',
  image: 'avatar.png',
  description: "Spreadsheets as a service."
} %>

<div class="antialiased connect-font connect-bg connect-text">

  <section class="relative h-144 py-44 bg-white">
    <div class="relative container px-4 mx-auto absolute transform z-10 top-1/2">
      <h2 class="text-left text-blue-800 font-bold font-brand-heading md:text-8xl text-8xl md:mb-4 mb-2 font">Spreadsheets as a service</h2>
      <p class="text-base text-gray-500">We're an agency delivering spreadsheets, so you don't have to.</p>
      <div class="w-full px-3 lg:w-1/2">
        <div class="relative pt-12 pb-10 px-10 bg-white lg:text-center lg:w-full md:w-1/2 mx-auto">
          <a class="block py-5 my-5 text-sm text-center uppercase font-bold leading-normal border-2 transition duration-200 hover:bg-gray-100 border-black text-black" href="#apply">
            See Plans
          </a>
        </div>
      </div>
    </div>

  </section>

  <section class="relative h-144 py-44 bg-white">
    <div class="relative container px-4 mx-auto absolute transform z-10 top-1/2">
      <h3 class="text-left text-blue-800 font-bold font-brand-heading md:text-6xl text-6xl md:mb-4 mb-2 font">Need some extra analytical firepower?</h3>
      <h3 class="text-left text-blue-800 font-bold font-brand-heading md:text-6xl text-6xl md:mb-4 mb-2 font">We have you covered.</h3>
      <h3 class="text-left text-blue-800 font-bold font-brand-heading md:text-3xl text-3xl md:mb-4 mb-2 font">Perfect for entrepreneurs and startups.</h3>
    </div>
  </section>


  <section class="relative overflow-hidden bg-indigo-50 md:py-16 py-12">
    <div class="relative container mx-auto px-4 max-w-7xl">
      <div class="max-w-2xl mx-auto text-center md:mb-12 mb-6">
        <div class="flex items-center justify-center mb-2">
          <span class="font-semibold uppercase tracking-widest text-xs text-yellow-500">TachiFigures</span>
        </div>
        <h2 class="text-blue-800 font-bold font-brand-heading md:text-4xl text-3xl md:mb-4 mb-2">All Access Membership</h2>
      </div>
      <div class="flex flex-wrap -mb-6 mx-auto">
        <div class="w-full mb-6 md:w-1/3 lg:px-6 px-4">
          <%= image_tag "fork-connect-step-1.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">Submit requests to your own project pipeline.</h3>
          </div>
        </div>
        <div class="w-full px-4 mb-6 md:w-1/3 lg:px-6">
          <%= image_tag "fork-connect-step-2.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="py-16 text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">We work with you on your deadlines.</h3>
          </div>
        </div>
        <div class="w-full px-4 mb-6 md:w-1/3 lg:px-6">
          <%= image_tag "fork-connect-step-3.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="py-16 text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">Know your budget with fixed recurring costs.</h3>
          </div>
        </div>
        <div class="w-full mb-6 md:w-1/3 lg:px-6 px-4">
          <%= image_tag "fork-connect-step-1.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">Pause anytime.</h3>
          </div>
        </div>
        <div class="w-full px-4 mb-6 md:w-1/3 lg:px-6">
          <%= image_tag "fork-connect-step-2.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="py-16 text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">Feel assured you're in the hands of experts from the finance and startup industries.</h3>
          </div>
        </div>
        <div class="w-full px-4 mb-6 md:w-1/3 lg:px-6">
          <%= image_tag "fork-connect-step-3.png", class: "w-full lg:h-72 object-contain h-52"%>
          <div class="py-16 text-center bg-white md:py-16 py-8 px-5">
            <h3 class="mb-4 text-lg text-blue-800 font-bold uppercase font-brand-heading">All completed documents are fully yours.</h3>
          </div>
        </div>
      </div>
  </section>

  <section id="reviews" class="bg-white py-10 md:py-16 md:pb-20 grid-pattern">
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto text-center md:mb-12 mb-6">
        <div class="flex items-center justify-center mb-2">
          <span class="font-semibold uppercase tracking-widest text-xs text-yellow-500">Testimonials</span>
        </div>
      </div>

      <div class="flex flex-wrap items-center justify-center lg:justify-between mx-auto max-w-5xl border-b border-yellow-300 md:pb-8 pb-4 md:mb-8 mb-6">
        <div class="px-4 w-full lg:w-2/3 lg:order-1 order-2">
          <div class="relative pb-6 sm:p-6 pt-6">
            <%= image_tag "quotes-top.svg", class: "absolute top-0 h-12 left-0 opacity-30" %>
            <%= image_tag "quotes-bottom.svg", class: "absolute bottom-0 right-0 h-12 opacity-30" %>
            <div class="relative">
              <p class="font-semibold tracking-tighter text-sm lg:text-xl md:text-lg lg:px-8 px-6">Fork kept an open line of communication to ensure the process moved along at a good speed with regular updates. The transition happened without any interruptions to and I felt our customers were being transferred to a safe pair of hands.</p>
            </div>
          </div>
        </div>
        <div class="px-4 lg:mb-0 w-full lg:w-1/3 lg:order-2 order-1 mb-4">
          <div class="flex items-center justify-center">
            <%= image_tag "jordan-short.jpg", class: "w-20 md:w-24 h-20 md:h-24 mr-6 rounded-full" %>
            <div>
              <h3 class="mb-2 text-xl md:text-2xl font-semibold">Jordan Short</h3>
              <span class="rounded-full py-1 text-white bg-black px-3 md:text-sm text-xs">Strategic acquisition</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing" class="py-24">
    <div class="px-4 mx-auto" style="max-width: 1140px">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="relative w-full lg:w-auto px-4 mb-10 lg:mb-0 lg:max-w-md max-w-xl mx-auto">
          <div class="relative z-10">
            <h2 class="font-bold font-brand-heading text-blue-800 md:text-4xl text-3xl mb-4">One plan, cancel anytime.</h2>
          </div>
        </div>

        <div class="w-full px-3 lg:w-1/2">
          <div class="relative pt-12 pb-10 px-10 bg-white lg:text-center lg:w-full md:w-1/2 mx-auto shadow-lg">
            <div class="flex mt-8 mb-8">
              <span class="self-end inline-block font-semibold text-blue-800 text-6xl">$4,950</span>
            </div>
            <ul class="mb-6 text-left">
              <li class="flex items-center mb-4">
                <svg class="mr-4 h-5 w-5 text-yellow-500" viewbox="0 0 20 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.775 10.9984L17.975 0L20 1.98854L6.775 15L0 8.37152L2.05 6.35843L6.775 10.9984Z"></path></svg>
                <p class="text-gray-500">Unlimited requests</p>
              </li>
              <li class="flex items-center mb-4">
                <svg class="mr-4 h-5 w-5 text-yellow-500" viewbox="0 0 20 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.775 10.9984L17.975 0L20 1.98854L6.775 15L0 8.37152L2.05 6.35843L6.775 10.9984Z"></path></svg>
                <p class="text-gray-500">Unlimited iterations</p>
              </li>
              <li class="flex items-center mb-4">
                <svg class="mr-4 h-5 w-5 text-yellow-500" viewbox="0 0 20 15" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.775 10.9984L17.975 0L20 1.98854L6.775 15L0 8.37152L2.05 6.35843L6.775 10.9984Z"></path></svg>
                <p class="text-gray-500">Cancel anytime</p>
              </li>
            </ul>
              <a class="block py-5 text-sm text-center uppercase font-bold leading-normal border-2 transition duration-200 hover:bg-gray-100 border-black text-black" href="#apply">
                Get Started
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="apply" class="bg-gray-100 md:py-16 py-12">
    <div class="container px-4 mx-auto">
      <div class="mx-auto text-center md:px-0 px-6 max-w-lg">
        <span class="font-semibold uppercase tracking-widest text-xs border-b text-black border-black">Get Started</span>
        <p class="mx-auto md:text-sm text-xs md:mb-6 mb-3 mt-2 text-balck">Introduce yourself and we'll reply within 24 hours. If it seems like a good fit, one of our partners will reach out to onboard you.</p>
      </div>
      <div class="mx-auto max-w-xl">
        <%= image_tag "avatar.png", class: "h-16 mx-auto" %>
      </div>
    </div>
  </section>
</div>
